.icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
    width: 80px;

    
    border: none;
    background-color: transparent;
    font-weight: 600;
}

.icon svg{
    width: 14px;
    height: 14px;
}

.svg-container {
    width: 100px;
}

.icon:hover{
    cursor: pointer;
    transition: 0.1s ease;
    opacity: 0.5;
}

.box {
    font-size: var(--fs-paragraphs);
    height: 50px;
    width: 100px;
    border: none;
    border-radius: 8px;
    background-color: hsl(var(--morderate-blue));
    color: hsl(var( --white));
}

.box:hover {
    opacity: 0.5;
    cursor: pointer;

}
