.comment {
  margin-bottom: var(--spacing-sm);
}

.card {
  background-color: hsl(var(--white));
  border-radius: 6px;
  padding: var(--spacing-sm);

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    'header header header header'
    'body body body body'
    '. . . update'
    'feedback feedback buttonGroup buttonGroup';
}

.card--color-blue {
  color: hsl(var(--morderate-blue));
}

.card__flex-header {
  display: flex;
  grid-area: header;
  margin-bottom: var(--spacing-sm);
}

.card__picture {
  height: 32px;
}

.card__picture--no-picture {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  background-color: hsl(var(--light-gray));

  transform: translateY(50%, -50%);
}

.card__name {
  font-weight: 600;
  margin: auto 0;
  margin-left: var(--spacing-sm);
}

.card__tag {
  font-size: 0.8rem;
  font-weight: 200;
  padding: 1px 6px;
  margin: auto;
  margin-left: var(--spacing-xs);
  border-radius: 2px;
  background-color: hsl(var(--morderate-blue));
  color: hsl(var(--white));
}

.card__createdAt {
  text-overflow: ellipsis;
  font-weight: 400;
  color: hsl(var(--grayish-blue));
  margin-left: 12px;
}

.card__paragraph {
  grid-area: body;
  line-height: 1.5;
  color: hsl(var(--grayish-blue));
  margin-bottom: var(--spacing-sm);
  max-width: 600px;
}

.card__paragraph span {
  color: hsl(var(--morderate-blue));
  font-weight: 600;
}

.card__textarea {
  resize: none;
  line-height: 1.5;
  border-radius: 8px;
  border: 1px solid hsl(var(--light-gray));
  width: 100%;
  font-size: var(--fs-paragraphs);
  padding: var(--spacing-xs) var(--spacing-md);
  grid-area: body;
  margin-bottom: var(--spacing-sm);
  min-height: 190px;
}

.card__textarea:focus-visible {
  border-radius: 8px;
  border: 1px solid hsl(var(--morderate-blue));
}

.card__textarea:focus {
  outline: none;
}

.card__feedback {
  grid-area: feedback;
  display: flex;
  flex-direction: row;
  height: fit-content;
  width: fit-content;
  border-radius: 10px;
  background-color: hsl(var(--very-light-gray));
}

.card__feedback-button {
  border: none;
  background-color: hsl(var(--very-light-gray));
  padding: 10px;
  fill: hsl(var(--light-grayish-blue));
}

.card__feedback-number {
  margin: 0;
  padding: 10px;
  font-weight: 600;
}

.card__feedback-button:hover {
  cursor: pointer;
}

.card__feedback-button:hover svg {
  transition: 0.1s ease;
  fill: hsl(var(--morderate-blue));
}

.card__feedback-fill svg {
  fill: hsl(var(--morderate-blue));
}

.card__update {
  grid-area: update;
  margin-bottom: var(--spacing-sm);
  margin-left: auto;
}

.card__button-group {
  grid-area: buttonGroup;
  display: flex;
  justify-content: flex-end;
  gap: 6px;
  margin-top: 6px;
  margin-bottom: auto;
}

.card__reply {
  width: 75px;
  fill: hsl(var(--morderate-blue));
  color: hsl(var(--morderate-blue));
}

.card__edit {
  width: 65px;
  fill: hsl(var(--morderate-blue));
  color: hsl(var(--morderate-blue));
}

.card__delete {
  width: 80px;
  fill: hsl(var(--soft-red));
  color: hsl(var(--soft-red));
}

@media (min-width: 640px) {
  .comment {
    margin-bottom: var(--spacing-md);
  }
  .card {
    padding: var(--spacing-md);
    grid-template-columns: 64px 1fr 1fr 1fr;
    grid-template-areas:
      'feedback header header buttonGroup'
      'feedback body body body'
      '. . . update';
  }

  /* .card__paragraph {
    margin: 0;
  } */

  .card__feedback {
    flex-direction: column;
    padding: 0 2px;
    width: 40px;
  }

  .card__feedback-number {
    margin: 0 auto;
  }

  .card__feedback-button svg {
    height: 10px;
  }

  .card__feedback-button svg {
    margin: auto;
  }

  .card__button-group {
    gap: 6px;
  }

  .card__textarea {
    margin-bottom: var(--spacing-sm);
    resize: vertical;
    min-height: 120px;
    max-height: 320px;
  }

  .card__update {
    margin-bottom: 0;
  }
}
