.comments__sub-section {
    padding-left: var(--spacing-sm);
    border-left: 2px solid hsl(var( --light-gray));
    height: 90%;
}

@media (min-width: 640px) {
    .comments__sub-section {
        padding-left: var(--spacing-xl);
        margin-left: var(--spacing-xl);
        border-left: 2px solid hsl(var( --light-gray));
        height: 90%;
    }
}